h1{
    color: blue;
}

body{

background-image: url(damiano-baschiera-hFXZ5cNfkOk-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 500px;
width: 500px;
background-position: center;
background-size: contain;


}