body {
    background: rgb(55, 158, 119);
  }
  #container {
    width: 70px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 40px);
  }
  #waiting {
    width: 90px;
    height: 90px;
    border-style: solid;
    border-top-color: rgb(219, 233, 27);
    border-right-color: rgb(238, 116, 116);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 6s ease-in-out infinite;
    transform: rotate(-900deg);
    transform: rotate(-900deg);


  }
  @keyframes rotate {
    0% { border-width: 3px; }
    25% { border-width: 6px; }
    50% { 
      transform: rotate(600deg); 
      border-width: 4px;
    }
    75% { border-width: 6px;}
    100% { border-width: 10px;}
  }