
body {
    background-color: pink;
  }
  
  @media screen and (min-width: 470px) {
    body {
      background-color: lightgreen;
    }
  }

  a{
      justify-content: space-between;
      justify-content: space-around;
  }