
 *{
  padding: 0;
  
}



.serif {
    
    font-family: 'Grandstander', cursive;

  }
  
  .sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .monospace {
    font-family: 'Grandstander', cursive;

  }