body, html {
    height: 100%;
    font-size: 15px;
      line-height: 1.50;
      color: #333333;
  }
  .navbar {
    border-radius:0px;
    margin-bottom: 0px;
  }
  
  .navbar-brand, .navbar-default .navbar-nav > li > a {
      font-size: 18px;
      font-weight: 300;
  }
  .banner {
    text-align: center;
    background-color: #164f5a;
    color: #ffffff;
    padding: 80px;
  }
  #banner-name {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  h1 {
    font-size: 40px;
  }
  h1, h2, h3, h4 {
    font-family: 'Open Sans', Tahoma;
  }
  .title {
    color: #164f5a;
  }
  p.lead {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .scroll-panel {
      padding-top: 50px;
  }
  #about_col {
    padding: 60px 0 60px 0;
  }
  #about_col>p {
    color: #164f5a;
    padding-top: 7px;
  }
  #about_img {
    height: 70%;
    width: 70%;
  }
  #about_img:hover {
    -webkitanimation: pulse 2s linear
  }
  #links {
    text-decoration: none;
  }
  .point {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  
  .form-control {
      height: 45px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  .form-control-feedback {
      color: #29536C;
  }
  .has-feedback label.sr-only ~ .form-control-feedback {
      top: 15px;
  }
  textarea {
      resize: vertical;
  }
  
  .btn {
      padding: 8px 15px;
      font-size: 14px;
      line-height: 1.42857143;
      min-width: 160px;
      text-align: center;
      border-radius: 0;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
  .btn-default {
      color: #29536C;
      border: 1px solid #cccccc;
  }
  .btn-default:hover {
      color: #ffffff;
      background-color: #29536C;
      border-color: #29536C;
  }